form {
  width: 22em;
}

.form-group {
  margin-bottom: 2em;
  margin: auto;
}

.mdc-form-field {
  width: 100%;
}

.mdc-form-field>.mdc-text-field {
  width: 100%;
}

.mdc-form-field>button {
  width: 100%;
}

.mdc-card {
  padding: 1em;
}

.mdc-card__content {
  padding-top: 1em;
}

.mdc-form-field>label {
  padding-left: 1em !important;
}
