form {
  width: 22em;
}

.form-group {
  margin-bottom: 2em;
  margin: auto;
}

.mdc-form-field {
  width: 100%;
}

.mdc-form-field>.mdc-text-field {
  width: 100%;
}

.mdc-form-field>button {
  width: 100%;
}

.mdc-card {
  padding: 1em;
}

.mdc-card__content {
  padding-top: 1em;
}

.mdc-form-field>label {
  padding-left: 1em !important;
}

.abcRioButton {
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  color: #262626;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.abcRioButtonBlue {
  background-color: #4285f4;
  border: none;
  color: #fff;
}


.abcRioButtonBlue .abcRioButtonContentWrapper {
  border: 1px solid transparent;
}

.abcRioButtonContentWrapper {
  height: 100%;
  width: 100%;
}

.abcRioButtonBlue .abcRioButtonIcon {
  background-color: #fff;
  border-radius: 1px;
}

.abcRioButtonIcon {
  float: left;
}

.abcRioButtonContents {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
}
.abcRioButtonBlue:hover {
  background-color: #4285f4;
}

.abcRioButton:hover {
  box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
}
.abcRioButtonBlue:active {
  background-color: #3367d6;
}
